@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.MenuItem {
  background-color: #eff1f5;
  border-radius: 10px;
  margin: 2em;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.menu-hub {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.Header {
  background-color: #1c5955;
  color: #f5efe5;
  font-weight: bold;
  display: flex;
  padding-left: 2em;
  padding-right: 2em;
  justify-content: space-between;
  align-items: center;

  #header-title {
    font-size: 3em;
  }
}

.Cart {
  font-size: 1.5em;
}

#image-placeholder {
  background-color: #cabebe;
  margin-bottom: 1em;
  height: 150px;
  width: 10em;
}

.Input {
  padding-right: 2em;
  padding-left: 2em;
  justify-content: space-between;
  margin-top: 1em;
  display: flex;
  flex-direction: row-reverse;

  .category-buttons {
    button {
      margin-right: 1em;
      padding: 0.5em;
    }
  }

  .filter-handlers {
    input {
      padding: 0.7em;
      margin-right: 2em;
    }
    select {
      padding: 0.7em;
      background-color: #eff1f5;
    }
  }
}

#burger-button,
#pizza-button,
#clear-button {
  background: transparent;
  border: none;
  color: black;
  font-size: 1.2em;
  background-color: #eff1f5;
  border-radius: 10px;

  &:focus {
    text-decoration: underline;
    text-decoration-color: #1c5955;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
    outline: none;
  }
}

#cart-button {
  background-color: transparent;
  outline: none;
  border: none;
  margin-left: 0.5em;
  font-size: 0.8em;
  color: #cabebe;
  text-decoration: underline;
}

#clear-button {
  min-width: 60px;
}

@media (max-width: 700px) {
  .Header {
    font-size: 0.8em;
  }
  .Input {
    flex-direction: column;
    justify-content: center;
    .category-buttons {
      display: flex;
      justify-content: space-evenly;
      button {
        margin: 0;
      }
    }
    .filter-handlers {
      display: flex;
      justify-content: center;
      margin-bottom: 1em;
    }
  }
}

@media (max-width: 500px) {
  .menu-hub {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 500px) {
  .menu-hub {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 750px) {
  .menu-hub {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1050px) {
  .menu-hub {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

#total-cart {
  color: red;
  font-size: 0.9em;
}
